.comm-intro{
    height: 20rem;
    width: 46rem;
    background: rgba(78, 85, 107, 0.44);
    backdrop-filter: blur(21px);
    border-radius: 15px;
    
}

.founder-img{
    position: relative;
    margin-top: -5rem;
    margin-left: 5rem;
    height: 10rem;
    border-radius: 100px;
    border: 4px solid white;
}

.founder-comment{
    padding: 2rem;
}

.quote-mark {
    position: fixed;
    font-size: 10rem;
    margin-top: 0rem;
    margin-left: 40rem;
    color: rgba(240, 248, 255, 0.384);
}