.home {
  padding: 2rem;
}
/* Main Section */
.greet-content {
  margin-top: 30vh;
  line-height: 5px;
  text-align: center;
  height: 60vh;
  animation: transitionY 1s;
}

.tic {
  font-weight: 900;
  font-size: 3rem;
}

span {
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: #ffffff00;
}

.greet-content p {
  color: #bebebe;
}

/* About Section */

.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.about-section hr {
  width: 70%;
  margin-bottom: 10rem;
}

.about-section h1 {
  font-size: 3em;
}


/* Community Feature Section */
.community-ft {
  margin-top: 20rem;
}

.community-ft h1 {
  font-size: 4em;
  text-align: right;
}

.feature-section {
  display: flex;
  justify-content: flex-end;
  animation: transitionXright 1s;
  /* margin-left: 40%; */
  /* width: 100%; */
}
.space {
  width: 60%;
}

.join-comm {
  margin-top: 40vh;
  height: 40rem;
  animation: transitionXleft 1s;
}

.join-header h1 {
  font-size: 4em;
  line-height: 0;
}

.join-header p {
  font-size: 1.4rem;
  color: #bebebe;
}

/* Contact Section */

.contact-containter {
  width: 80%;
  margin-top: 2rem;
}