.page {
  padding: 0 4rem;
  height: 80rem;
}

.join-page {
  padding: 0 4rem;
  height: 80rem;
}

.page h1 {
  color: transparent;
  font-size: 5em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: #ffffff00;
}

.contact-sec {
  display: flex;
  flex-wrap: wrap;
}
.contact-sec img {
  height: 30px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 20px;
  cursor: pointer;
  margin-right: 2rem;
}

.git:hover {
  background: #36382e;
}

.twt:hover {
  background: #08a0e9;
}

.tel:hover {
  background: #006ea5;
}

.dis:hover {
  background: #7289da;
}

.label {
  text-align: center;
  background-color: #222121;
  width: 5rem;
  border-radius: 5px;
  
}
section .join-spreads {
  position: fixed;
  filter: blur(250px);
  z-index: -2;
}
section .join-spreads:nth-child(1) {
  background-color: #a63ae4;
  height: 400px;
  width: 400px;
  margin-left: 1rem;
  margin-top: 1rem;
}

section .join-spreads:nth-child(2) {
  background-color: #10dcc3;
  height: 400px;
  width: 400px;
  margin-left: 60rem;
  margin-top: 30rem;
}
